/*style items differently based on their data-category or data-price*/
li[data-category="fruit"] {
  background-color: yellow;
}

li[data-category="vegetable"] {
  background-color: lightgreen;
}
li[data-category="dairy"] {
  background-color: lightblue;
}
